https://github.com/AMPLIFAIUI/AMPEXTnode_modules/
.env
config.json
data/
build/
dist/
*.exe
*.dmg
*.deb
*.rpm
*.AppImage
desktop-ui/build/
desktop-ui/dist/
desktop-ui/temp-build/
node_modules
*.exe
*.dmg
*.deb
*.rpm
*.AppImage
*.blockmap
